h1{
    font-size: 50px;
}
.abdul-orange{
    color: orange;
}
h2{
    font-size: 40px;
}
h3{
    color: orange;
}
.falaxibol{
    display: flex;
    margin-bottom: 100px;
}
.half-weith{
    width: 50%;
    padding-left: 10px;
}
.half-weith img{
    width: 80%;
}
.here-me-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
    color: white;

}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: right;
}
.shadow{
    
    box-shadow: 20px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    border-left:7px solid ;
    
    
   
}
#id-full-stack{
    border-left:7px solid ;
    border-image:linear-gradient(rgb(25, 25, 223),cyan);
    border-image-slice: 1;

}
#id-full-stack2{
    border-left:7px solid ;
    border-image:linear-gradient(rgb(204, 65, 146),rgb(94, 124, 67));
    border-image-slice: 1;

}
.Expriences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
footer p{
    text-align: center;
}